<article class="order-card">
    <div class="order-card__head">
        <span>Order #{{ order.id }}</span>
        <strong>{{ order.status }}</strong>
    </div>

    <dl class="order-card__facts">
        <div>
            <dt>User</dt>
            <dd>#{{ order.userId }}</dd>
        </div>
        <div>
            <dt>Total</dt>
            <dd>{{ order.totalAmount|money }}</dd>
        </div>
        <div>
            <dt>Date</dt>
            <dd>{{ order.orderDate|short_date }}</dd>
        </div>
    </dl>

    <div class="order-card__products">
        {% for item in order.products %}
            <span>Product #{{ item.productId }} x {{ item.quantity }}</span>
        {% endfor %}
    </div>
</article>
