{% set element = element|default('div') %}

<{{ element }} class="notice" role="{{ role|default('status') }}">
    {% if title is defined and title %}
        <strong>{{ title }}</strong>
    {% endif %}
    {% if message is defined and message %}
        <span>{{ message }}</span>
    {% endif %}
</{{ element }}>
